<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home_page.css">
    <link rel="stylesheet" href="../static/css/design_navigation.css">
    <link rel="stylesheet" href="../static/css/design_text.css">
    <link rel="shortcut icon" href="../static/images/logo_WeTri.png">
    <title>Wetri</title>
</head>
<body>
    <div id="main_container">
        <div id="container_first_page">  
            <div class="container_shape">
                <img src="../static/images/home_page/shape1.png" alt="Première figure" id="shape1">
                <img src="../static/images/home_page/shape2.png" alt="Seconde figure" id="shape2">
            </div>  
            <div id="sub_container_first_page">
                <div id="container_WeTri">
                    <div id="container_logo_WeTri">
                        <img src="../static/images/home_page/logo_WeTri.png" alt="logo WeTri" id="logo_WeTri">
                        <p id="title_WeTri" class="police_Poppins">WeTri</p>
                    </div>
                    <div id="container_hook">
                        <p class="police_Roboto">L'application qui vous simplifie le tri.</p>
                    </div>
                </div>
                <div id="container_video_presentation">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cquDTzkXaYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="container_second_page">
            <div class="container_shape">
                <img src="../static/images/home_page/shape3.png" alt="Troisième figure">
                <img src="../static/images/home_page/shape4.png" alt="Quatrième figure">
            </div>
            <div id="container_scanne">
                <img src="../static/images/home_page/phone.png" alt="Exemple de scan de l'application">
                <div id="container_text_scan">
                    <p><span class="text_bold police_Roboto">Scanner </span>facilement vos <br>produits du quotidien</p>
                    <p class="police_Roboto">et choisissez ainsi la meilleure option pour la planète<br>grâce au détail des composants de l'emballage.</p>
                    <p class="police_Roboto">Bénéficiez également de recommandations pour <br>améliorer votre consommation</p>
                </div>
            </div>
            <img src="../static/images/home_page/earth.png" alt="Planète">
        </div>
        <div id="container_third_page">
            <div class="container_shape">
                <img src="../static/images/home_page/shape5.png" alt="Cinquième figure">
                <img src="../static/images/home_page/shape6.png" alt="Sixième image">
            </div>
            <div id="container_sub_element_third_page">
                <p><span class="text_bold police_Roboto">Repérez</span> les points de tri autour de vous</p>
                <div id="container_text_third_page">
                    <div id="sub_container_text_third_page">
                        <p><span class="text_bold police_Roboto">Localisez</span></p>
                        <p class="police_Roboto">Contribuez</p>
                    </div>
                    <img src="../static/images/home_page/phone2.png" alt="Image deuxième téléphone">
                    <p class="police_Roboto">Découvrez également les commerces de<br>proximité les mieux notés.</p>
                </div>
            </div>  
        </div>
        <div id="container_fourth_page">
            <img src="../static/images/home_page/chapeau_diplome.png" alt="logo chapeau diplôme">
            <div id="container_text_fourth_page">
                <div id="sub_container_text_fourth_page">
                    <p class="police_Roboto"><span class="text_bold">Trouvez</span> des informations sur<br>les emballages,</p>
                    <p class="police_Roboto">comment les trier et leur avenir une fois recyclés.</p>
                    <p class="police_Roboto">Testez régulièrement vos connaissances sur ces matériaux<br>grâce à des quiz ou mettez-les à jour via de nombreux<br>articles.</p>
                </div>
                <img src="../static/images/home_page/phone3.png" alt="Troisième téléphone">
            </div>
        </div>
        <div id="container_fifth_page">
            <div class="container_shape">
                <img src="../static/images/home_page/shape7.png" alt="Septième forme">
                <img src="../static/images/home_page/shape8.png" alt="Huitième forme">
            </div>
            <div id="container_text_fifth_page">
                <img src="../static/images/home_page/phone4.png" alt="Quatrième téléphone">
                <div id="sub_container_text_fifth_page">
                    <p class="police_Roboto"><span class="text_bold">Partagez</span> vos progrès et astuces</p>
                    <p class="police_Roboto">Lassés de devoir expliquer a tout votre entourage pourquoi le<br>verre et le plastique ne se jettent pas au même endroit ? </p>
                    <p class="police_Roboto">Grâce à WeTri, découvrez une communauté aussi soucieuse de<br>l’environnement que vous !</p>
                </div>
            </div>
        </div>
        <div id="container_sixth_page">
            <p class="police_Roboto">Constatez votre propre <span class="text_bold">progression</span>, bénéficiez de <span class="text_bold">remises</span> exclusives,<br>retrouvez vos <span class="text_bold">produits favoris...</span></p>
            <img src="../static/images/home_page/phone5.png" alt="Cinquième téléphone">
        </div>
        <div id="container_seventh_page">
            <div id="container_text_seventh_page">
                <img src="../static/images/home_page/triangle.png" alt="Image d'un triangle">
                <p class="police_Roboto"><span class="text_bold">Alors, convaincus?</span></p>
            </div>
            <div id="logo_seventh_page">
                <img src="../static/images/home_page/logo_canette.png" alt="Logo canette">
                <img src="../static/images/home_page/logo_trash.png" alt="Logo poubelle">
                <img src="../static/images/home_page/logo_person.png" alt="Logo personne">
            </div>
        </div>
    </div>
    <footer>
        <div id="demarcation_footer">
        </div>
        <div id="navigation">
            <a href="home_page.html" class="police_Roboto text_bold">Home</a>
            <a href="contact.html" class="police_Roboto text_bold">Nous contacter</a>
            <a href="about.html" class="police_Roboto text_bold">A propos</a>
            <a href="legal_notice.html" class="police_Roboto text_bold">Mentions légales</a>
            <a href="our_partners.html" class="police_Roboto text_bold">Nos partenaires</a>
        </div>
        <div id="container_store">
            <div id="sub_container_store">
                <p class="police_Roboto text_bold">disponible gratuitement sur </p>
                <img src="../static/images/home_page/logo_app_store.png" alt="logo apple store">
                <img src="../static/images/home_page/logo_google_play.png" alt="logo google play">
            </div>
        </div>
    </footer> 
    <script src="../static/js/home_page.js"></script>

</body>
</html>
