<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/design_navigation.css">
    <link rel="stylesheet" href="../static/css/our_partners.css">
    <link rel="stylesheet" href="../static/css/design_text.css">
    <title>Document</title>
    <link rel="shortcut icon" href="../static/images/logo_WeTri.png">
</head>
<body>
    <div id="main_container">
        <div id="container_ecosia">
            <img src="../static/images/our_partners/logo_ecosia.png" alt="Logo ecosia">
            <p class="police_Roboto">Ecosia est un moteur de recherche qui reverse 80% de ses bénéfices à des associations<br>oeuvrant pour la reforestation dans les pays du sud, tel que le le Burkina Faso, Madagascar<br>ou encore la Tanzanie. </p> 
        </div>
        <div id="container_symbioz">
            <img src="../static/images/our_partners/logo_symbioz.png" alt="Logo symbioz">
            <p class="police_Roboto">Symbioz est une association de l’EFREI</p>
        </div>
        <div id="container_efrei">
            <img src="../static/images/about/logo_efrei.png" alt="Logo efrei paris">
            <p class="police_Roboto">L’EFREI est une école qui forme des ingénieurs du numérique depuis plus de 130 ans.</p>
        </div>
    </div>
    <footer>
        <div id="demarcation_footer">
        </div>
        <div id="navigation">
            <a href="home_page.html" class="police_Roboto text_bold">Home</a>
            <a href="contact.html" class="police_Roboto text_bold">Nous contacter</a>
            <a href="about.html" class="police_Roboto text_bold">A propos</a>
            <a href="legal_notice.html" class="police_Roboto text_bold">Mentions légales</a>
            <a href="our_partners.html" class="police_Roboto text_bold">Nos partenaires</a>
        </div>
        <div id="container_store">
            <div id="sub_container_store">
                <p class="police_Roboto text_bold">disponible gratuitement sur </p>
                <img src="../static/images/home_page/logo_app_store.png" alt="logo apple store">
                <img src="../static/images/home_page/logo_google_play.png" alt="logo google play">
            </div>
        </div>
    </footer>
    <script src="../static/js/our_partners.js"></script>

</body>
</html>
